.user-icon {
  width:40px;
  height:40px;
  padding:10px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.6s ease-out;
}

.user-icon:hover {
  background-color: #000;
  color:antiquewhite;
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.04s ease-in-out;
}