.profile-card {
  width: 300px;
  height: 550px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.user-btn {
  width:100%;
}

@media (max-width: 800px) {
  .profile-card {
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
}